<div class="container">
  <div class="row">
    <div class="col-8 offset-2">

      <h1 id="sessionUser" style="text-align: center">{{user}}</h1>
      <div class="card mt-4">
        <div class="card-body" style="text-align: center">

          <div id="gameContainer" style="height: 500px; margin-left: 100px"></div>

          </form>
          <a href="/">
            <button id="backhome">← Back To Home</button>
          </a>

        </div>
      </div>
    </div>
  </div>
</div>
<a href="/">← Back To Home</a>

<script>

  $("#sessionUser").text("Welcome back " + sessionStorage.getItem("user"));

</script> 