.list-group-item {
  line-height: 0.8;
}

body {
  background-image: url("4.jpg")!important;

  background-repeat:no-repeat;
  background-position:relative;
  background-size: cover;

}

label, h1, h2, h3{
  color: white;
}

.dispScore{
  font-size: 50px;
}

.dispText{
  font-size: 25px;
}

#example-list{
  margin-bottom: 50px;
}

.image {
  text-align: center;
  margin-bottom: 20px;
}

img {
  height:500px;
  width: 500px;
  /* text-align: center; */
}

.card {
  margin-bottom: 50px;
}

/* .image-back {
  opacity: 0.5;
    filter: alpha(opacity=50);
} */

#backhome {
	-moz-box-shadow: 0px 10px 14px -7px #276873;
	-webkit-box-shadow: 0px 10px 14px -7px #276873;
	box-shadow: 0px 10px 14px -7px #276873;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #599bb3), color-stop(1, #408c99));
	background:-moz-linear-gradient(top, #599bb3 5%, #408c99 100%);
	background:-webkit-linear-gradient(top, #599bb3 5%, #408c99 100%);
	background:-o-linear-gradient(top, #599bb3 5%, #408c99 100%);
	background:-ms-linear-gradient(top, #599bb3 5%, #408c99 100%);
	background:linear-gradient(to bottom, #599bb3 5%, #408c99 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#599bb3', endColorstr='#408c99',GradientType=0);
	background-color:#599bb3;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	border-radius:8px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:20px;
	font-weight:bold;
	padding:13px 32px;
	text-decoration:none;
	text-shadow:0px 1px 0px #3d768a;
}
#backhome:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #408c99), color-stop(1, #599bb3));
	background:-moz-linear-gradient(top, #408c99 5%, #599bb3 100%);
	background:-webkit-linear-gradient(top, #408c99 5%, #599bb3 100%);
	background:-o-linear-gradient(top, #408c99 5%, #599bb3 100%);
	background:-ms-linear-gradient(top, #408c99 5%, #599bb3 100%);
	background:linear-gradient(to bottom, #408c99 5%, #599bb3 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#408c99', endColorstr='#599bb3',GradientType=0);
	background-color:#408c99;
}
#backhome:active {
	position:relative;
  top:1px;
}

nav{
  background: rgba(255,255,255,0.9);
}
/* form style */

/* .transition, form button, form .question label, form .question input[type="text"] {
  -moz-transition: all 0.25s cubic-bezier(0.53, 0.01, 0.35, 1.5);
  -o-transition: all 0.25s cubic-bezier(0.53, 0.01, 0.35, 1.5);
  -webkit-transition: all 0.25s cubic-bezier(0.53, 0.01, 0.35, 1.5);
  transition: all 0.25s cubic-bezier(0.53, 0.01, 0.35, 1.5);
} */

* {
  font-family: Helvetica, sans-serif;
  font-weight: light;
  -webkit-font-smoothing: antialiased;
}

/* html {
  background-color: #ff4a56;
} */

form {
  position: relative;
  display: inline-block;
  max-width: 700px;
  min-width: 500px;
  box-sizing: border-box;
  padding: 30px 25px;
  background-color: transparent;
  border-radius: 40px;
  margin: 40px 0;
  left: 50%;
  -moz-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
}
form h1 {
  color: #F6F740;
  font-weight: 100;
  letter-spacing: 0.01em;
  /* margin-left: 15px; */
  margin-bottom: 35px;
  text-transform: uppercase;
  font-family: 'Shojumaru', cursive;
  font-size:70px;
}
form button {
  margin-top: 35px;
  background-color: #FADF63;
  border: 1px solid #FADF63;
  line-height: 0;
  font-size: 17px;
  display: inline-block;
  box-sizing: border-box;
  padding: 20px 15px;
  border-radius: 60px;
  color: white;
  font-weight: 100;
  letter-spacing: 0.01em;
  /* position:absolute; */
  margin:auto;
  margin-top:20px;
  display:block;
  z-index: 1;
}
form button:hover, form button:focus {
  color: white;
  background-color: #FADF63;
}
form .question {
  position: relative;
  padding: 10px 0;
}
form .question:first-of-type {
  padding-top: 0;
}
form .question:last-of-type {
  padding-bottom: 0;
}
form .question label {
  /* transform-origin: left center; */
  color: #FADF63;
  font-weight: 100;
  letter-spacing: 0.01em;
  font-size: 30px;
  box-sizing: border-box;
  display: block;
  z-index: 2;
  pointer-events: none;
}
form .question input[type="text"] {
  appearance: none;
  background-color: none;
  border: 4px solid #FADF63;
  line-height: 0;
  font-size: 17px;
  width: 100%;
  display: block;
  box-sizing: border-box;
  padding: 10px 15px;
  border-radius: 60px;
  color: #F4D35E;
  font-weight: 100;
  letter-spacing: 0.01em;
  position: relative;
  z-index: 1;
}
form .question input[type="text"]:focus {
  outline: none;
  background: #F4D35E;
  color: #EE4266;
  font-weight:40px;
  /* margin-top: 30px; */
}

/* form .question input[type="text"]:focus ~ label {
  -moz-transform: translate(0, -35px);
  -ms-transform: translate(0, -35px);
  -webkit-transform: translate(0, -35px);
  transform: translate(0, -35px);
} */
/* form .question input[type="text"]:valid ~ label {
  text-transform: uppercase;
  font-style: italic;
  -moz-transform: translate(5px, -35px) scale(0.6);
  -ms-transform: translate(5px, -35px) scale(0.6);
  -webkit-transform: translate(5px, -35px) scale(0.6);
  transform: translate(5px, -35px) scale(0.6);
}  */


.btn{
  background-color:#EE4266!important;
  border: 2px solid #EE4266!important;
}

.navbar{
  background-color:#F7EE7F!important;
  opacity: 20%!important;
  padding-top:5px;
  padding-bottom:5px;
}

.lead{
  font-family: 'Luckiest Guy', cursive;
  color:#F7EE7F!important;
  font-size:60px;
}

.webgl-content * {border: 0; margin: 0; padding: 0}
.webgl-content {position: absolute; top: 50%; left: 50%; -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%);}

.webgl-content .logo, .progress {position: absolute; left: 50%; top: 50%; -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%);}
.webgl-content .logo {background: url('progressLogo.Light.png') no-repeat center / contain; width: 154px; height: 130px;}
.webgl-content .progress {height: 18px; width: 141px; margin-top: 90px;}
.webgl-content .progress .empty {background: url('progressEmpty.Light.png') no-repeat right / cover; float: right; width: 100%; height: 100%; display: inline-block;}
.webgl-content .progress .full {background: url('progressFull.Light.png') no-repeat left / cover; float: left; width: 0%; height: 100%; display: inline-block;}

.webgl-content .logo.Dark {background-image: url('progressLogo.Dark.png');}
.webgl-content .progress.Dark .empty {background-image: url('progressEmpty.Dark.png');}
.webgl-content .progress.Dark .full {background-image: url('progressFull.Dark.png');}

.webgl-content .footer {margin-top: 5px; height: 38px; line-height: 38px; font-family: Helvetica, Verdana, Arial, sans-serif; font-size: 18px;} 
.webgl-content .footer .webgl-logo, .title, .fullscreen {height: 100%; display: inline-block; background: transparent center no-repeat;} 
.webgl-content .footer .webgl-logo {background-image: url('webgl-logo.png'); width: 204px; float: left;}
.webgl-content .footer .title {margin-right: 10px; float: right;}
.webgl-content .footer .fullscreen {background-image: url('fullscreen.png'); width: 38px; float: right;}

.username{
  font-size:35px;
  font-family: 'Fredoka One', cursive;
  color:#3590F3;
}

.score {
  font-size:20px;
}

.navbar-brand{
color:#EE4266!important;
font-family: 'Shojumaru', cursive;
font-size:33px;
}

.headname{
  font-family: 'Frijole', cursive;
  color:#F7EE7F!important;
  font-size:60px;
  margin-top:40px;
  margin-bottom:0;
}

#welcome{
  font-family: 'Frijole', cursive;
  color:#F7EE7F!important;
  font-size:40px;
  margin-top:40px;
  margin-bottom:10px;
}

.nav-link{
  font-weight: bold!important;
  color:#EE4266!important;
}