.list-group-item {
  line-height: 2.5;
}

body {
  background-image: url("https://ak8.picdn.net/shutterstock/videos/7865338/thumb/8.jpg?i10c=img.resize(height:160)");
}


.dispScore{
  font-size: 50px;
}

.dispText{
  font-size: 25px;
}

#example-list{
  margin-bottom: 20px;
}